<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{css/tabstyle.css}">
<meta charset="ISO-8859-1">
<title>Insert Order Details</title>
</head>
<body class="d-flex flex-column h-100">

	<form class="form-horizontal" action="#" th:action="@{/orderdetails/orderdetailinsert}" th:object="${createOrderDetailsForm}" method="POST">

		<div th:replace="~{fragments/navigation :: navigation}"></div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
			
		<h5 class="h3 mb-3 fontweight-normal">Provide Details for the Order Detail you want to Insert</h5>
		
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="alert alert-success" role="alert" th:if="${successMSG}" th:utext="${successMSG}">
				</div>
			</div>
		</div>
		
		<select th:field="*{orderID}" class="form-control" required>
			<option value="">Select an Order ID (Required)</option>
			<option th:each="order : ${orders}" th:value="${order.orderID}" th:text="${order.orderID}">
			</option>
		</select>
	    <p th:if="${#fields.hasErrors('orderID')}" th:errors="*{orderID}">Order ID Error</p>
	    
		<select th:field="*{productID}" class="form-control" required>
			<option value="">Select a Product (Required)</option>
			<option th:each="product : ${products}" th:value="${product.productID}" th:text="${product.productName}">
			</option>
		</select>
	    <p th:if="${#fields.hasErrors('productID')}" th:errors="*{productID}">Product ID Error</p>
			
		<label for="inputquantity" class="sr-only">Product Quantity</label>
		<input type="number" th:field="*{quantity}"
			class="form-control" placeholder="Product Quantity (Required)" required>
		<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</p>
		
		<label for="inputunitprice" class="sr-only">Product Unit Price</label>
		<input type="number" th:field="*{unitPrice}"
			class="form-control" placeholder="Product Unit Price (Required)" required>
		<p th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}">Unit Price Error</p>
			
		<label for="inputdiscount" class="sr-only">Product Discount</label>
		<input type="number" th:field="*{discount}"
			class="form-control" placeholder="Product Discount" >
		<p th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}">Discount Error</p>
			
		<button class="btn btn-lg btn-primary btn-block" type="submit">Insert</button>
		
	</form>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>