<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{css/tabstyle.css}">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="d-flex flex-column h-100">
	<form class="form-horizontal" action="#" th:action="@{/customer/customerupdate}" th:object="${updateCustomerForm}" method="POST">
		
		<div th:replace="~{fragments/navigation :: navigation}"></div>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		
		<h5 class="h3 mb-3 fontweight-normal">Provide Details for the Customer you want to Update</h5>
		
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="alert alert-success" role="alert" th:if="${successMSG}" th:utext="${successMSG}">
				</div>
			</div>
		</div>
		
		<label for="inputcustdid" class="sr-only">Customer ID</label>
		<input type="number" th:field="*{customerID}" 
			class="form-control" placeholder="Customer ID" required>
			
		<label for="inputcustfirstname" class="sr-only">First Name</label>
		<input type="text" th:field="*{firstName}" 
			class="form-control" placeholder="First Name" required>
		
		<label for="inputcustlastname" class="sr-only">Last Name</label>
		<input type="text" th:field="*{lastName}" 
			class="form-control" placeholder="Last Name" required>
			
		<label for="inputcustaddress" class="sr-only">Address</label>
		<input type="text" th:field="*{address}" 
			class="form-control" placeholder="Address" required>
			
		<label for="inputcustcity" class="sr-only">City</label>
		<input type="text" th:field="*{city}" 
			class="form-control" placeholder="City" required>
			
		<label for="inputcustzip" class="sr-only">Zip</label>
		<input type="number" th:field="*{zipCode}" 
			class="form-control" placeholder="Zip" required>
		
		<label for="inputcustcountry" class="sr-only">Country</label>
		<input type="text" th:field="*{country}" 
			class="form-control" placeholder="Country" required>
		
		<label for="inputcustphno" class="sr-only">Phone Number</label>
		<input type="number" th:field="*{phoneNumber}" 
			class="form-control" placeholder="Phone Number" required>
		
		<label for="inputcustbirthdate" class="sr-only">Date Of Birth</label>
			<input type="date" th:field="*{birthDate}" 
			class="form-control" placeholder="Date Of Birth" required>
			
		<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
		
		<div th:replace="~{fragments/footer :: footer}"></div>
	</form>
</body>
</html>